<main class="p-5">
    <h1>Hello World!</h1>

    {{> title data="My title"}}

    <div style="color: blue; background: black">
        This is text
    </div>

    <div id="mytag">Test text</div>
</main>