<div>
    {{#with main}}
    <main>
        <section>
            <div class="card">
                <div class="card-header text-center">{{> title big=true data="My educations"}}</div>
                <div class="card-body">
                    <ul>
                        {{#each educations}}
                        <li class="my-1">
                            {{name}}
                            {{#unless isEnd includeZero=false}} (Ще в процесі) {{/unless}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="card">
                <div class="card-header text-center">{{> title big=false data="My certificates"}}</div>
                <div class="card-body">
                    <ul>
                        {{#each certificates}}
                        <li class="my-1">
                            {{name}}

                            {{#if id includeZero=true}} ({{id}}) {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>
    </main>
    {{/with}}
</div>