{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<div>
    {{#with main}}
    <main>
        <div class="row">

            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">All skills</h3>
                    </div>
                    <div class="card-body">
                        {{#each skills}}
                        <ul>
                            <li>{{name}}</li>
                        </ul>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">All skills</h3>
                    </div>
                    <div class="card-body">
                        {{#each hobbies}}
                        <ul>
                            <li>{{name}}</li>
                        </ul>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{/with}}
</div>