{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<div>
    {{#with main}}
    <main>

        {{#with summary}}
        <div class="card">
            <div class="card-header">
                <h3>{{title}}</h3>
            </div>
            <div class="card-body">
                <p>{{text}}</p>
            </div>
        </div>
        {{/with}}

        {{#with experience}}
        <div class="card my-5">
            <div class="card-header">
                <h3>{{title}}</h3>
            </div>
            <div class="card-body">
                <p>{{text}}</p>
            </div>
        </div>
        {{/with}}

    </main>
    {{/with}}
</div>