<div class="row">
    <div>
        <ol class="breadcrumb">
            {{#each breadcrumb}}
            {{#if @last}}
            <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
            {{else}}
            <li class="breadcrumb-item disabled"><a href="{{url}}">{{name}}</a></li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>